.color-customization {
    .el-color-picker__icon,.el-icon-arrow-down{
        display: none;
    }
    .el-color-picker__trigger {
        border: none;
    }
    .el-color-picker__color {
        border: none;
    }

    .bgColorList {
        width: 49%;
        float: left;
        max-height: 100px;
        position: relative;
        .el-input {
            width: 98%;
        }
    }
}

.bgColorList {
    .block-container {
        .title {
            display: inline-block;
        }
        .color-picker {
            display: inline-block;
            position: absolute;
            top: 5px;
            .el-color-picker  {
                .el-color-picker__trigger {
                    margin-left: 5px;
                }
            }
        }
    }
}